---
config_dir: '/home/ansible/omada/'
omada_url: https://static.tp-link.com/upload/software/2022/202207/20220729/Omada_SDN_Controller_v5.4.6_Linux_x64.tar.gz
omada_dir: '/home/ansible/omada/'
mongo_url: https://repo.mongodb.org/yum/redhat/8/mongodb-org/4.0/x86_64/RPMS/mongodb-org-server-4.0.27-1.el8.x86_64.rpm
jsvc_rpm_url: http://repo.iotti.biz/CentOS/8/x86_64/apache-commons-daemon-jsvc-1.2.2-5.el8.lux.x86_64.rpm

jsvc_rpm_el7: http://mirror.centos.org/centos/7/os/x86_64/Packages/apache-commons-daemon-jsvc-1.0.13-7.el7.x86_64.rpm
mongo_url_el7: https://repo.mongodb.org/yum/redhat/7/mongodb-org/4.0/x86_64/RPMS/mongodb-org-server-4.0.27-1.el7.x86_64.rpm
