---
config_dir: '/home/ansible/omada/'
omada_url: https://static.tp-link.com/upload/software/2022/202205/20220507/Omada_SDN_Controller_v5.3.1_Linux_x64.tar.gz
omada_dir: '/home/ansible/omada/'
mongo_url: https://repo.mongodb.org/yum/redhat/8/mongodb-org/4.0/x86_64/RPMS/mongodb-org-server-4.0.27-1.el8.x86_64.rpm
jsvc_rpm_url: http://repo.iotti.biz/CentOS/8/x86_64/apache-commons-daemon-jsvc-1.2.2-5.el8.lux.x86_64.rpm
